/LLM-venv
/DataPrep/data/
DataPrep/ambari/formatted_dataset_2.jsonl
/lm-evaluation-harness
lm-evaluation-harness
/Evaluation
Evaluation
Evaluation/openai_evaluation.py
**data
**/data
RAG/default.sqlite
RAG/eval_data.csv
RAG/prodrag
*.pdf