jinja2
markdown
mkdocs
mkdocs-material
mkdocs-material-extensions
pygments
pymdown-extensions
mkdocstrings[python]
mkdocs-minify-plugin
mkdocs-material[imaging]
mkdocs-redirects
mkdocs-jupyter
mkdocs-video
# Requirements for plugins
babel~=2.10
colorama~=0.4
paginate~=0.5
regex>=2022.4
requests~=2.26
openai
typer
instructor
python-dotenv